Fundamentos de Python

In [14]:
print("Hello World")

Hello World

In [6]:
# Variable: A variable is a named location used to store data in the memory.
name = "josefino"
Name = "josefino"

first_name = "josefino"
fn = "josefino"
# first-name = "josefino" (Error de convencion)
# el nombre de las variables debe ser descriptivo y en minusculas

# anomalias y malas practicas
FisrtName = "josefino"
First_Name = "josefino"
First_name = "josefino"
# no se puede usar cammel case, snake case, o pascal case

In [19]:
# python como clculadora
# int : integer (numero entero)
# float : float (numero decimal)
# str : string (cadena de caracteres)

edad = 12
peso = 21
altura = "1.78"

print( type( altura ) )
print( type( peso ) )
print( type( first_name ) )

<class 'str'>
<class 'int'>
<class 'str'>

In [23]:
# formatos en print

edad = 12
peso = 21
altura = "1.78"

print( "El tipo de dato de altura es:", type( altura ) )
print( "El tipo de dato de peso es:", type( peso ) )
print( "El tipo de dato de first_name es: ", type( first_name ) )

El tipo de dato de altura es: <class 'str'>
El tipo de dato de peso es: <class 'int'>
El tipo de dato de first_name es:  <class 'str'>

In [26]:
edad = float(edad)
type(edad)

altura = float(altura)
print( "altura", type(altura) )

altura <class 'float'>

### Ciclos for en python

In [9]:
for value in range(1,2,5): # Los ciclos permiten "recorrer" un conjunto de datos
    print(1)

1

### Listas

In [10]:
list_1 = ["monday", "thuesday", 1, 2, 0.8 ]

In [12]:
list_1[0] # Acceder a los valores de la lista en donde el "cero" es el primer valor

'monday'

In [14]:
list_1 =[-1] # Permiten acceder al último valor de la lista. No se necesita saber cual es el último valor. 
             # El último valor de la lista siempre será el "-1"

### Métodos de las listas

In [38]:
names = ["josefino", "maria", "ruperto"]

In [32]:
names.append ("gillermo") # append (Adds an element at the end of the list)
print(week)

['josefino', 'maria', 'ruperto']

In [40]:
names.index ('maria') # index(): Returns the index of the first element with the specified value

1

In [41]:
names [1:3]

['maria', 'ruperto']

In [51]:
pares_list = [] # guardar numeros pares en una lista / Se necesita una lista 
for number in range(1,11): 
    if (number %2) != 0:
        pares_list.append(number**2)
        pares_list

In [54]:
# Leng(): permite conocer la longitud de la lista
for value in range(len(names)):
    print(names[value])

josefino
maria
ruperto